body { 
	background-color: rgb(190,190,180);
	color: rgb(45,45,45);
	font-family: 'Oswald', sans-serif;;
	font-size: 18px;
	font-weight: lighter;
	
	}
h1, h2, h3{
	font-family:'Roboto', sans-serif;

	h1 {
		color rgb(170;170;170);
		font-family: 'Roboto', sans-serif;
		font-weight:400;
		letter-spacing: 10px;
		font-size: 60px;
		text-transform: uppercase;

		}

	h2 {
	color: rgb(120,120,120);
	font-weight: lighter;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;

	a {
font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: rgb(150,130,150);
	font-weight: bold;
}
a:hover {
	color: orange;
}


